/* nor-restd-viewer styles */

body {
	background-color: #f5f5f5;
}

.header {
	padding: 5px 35px 5px 35px;
	color: #ffffff;
	background-color: #000000;
}

.content {
	background-color: #ffffff;
	padding: 5px 10px 30px 10px;
}

.footer {
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
	border-top: 10px solid black;
}

code {
	white-space: pre;
}

/* EOF */
